html{
    width: 100%;
    scroll-behavior: smooth;
}

body{
    margin: 0em;
    background-color: white;
    font-family: Verdana;
    color: #4c555f;
}

/*******
 Header
********/
.nav-menu{
    padding-left: 2%;
    padding-right: 2%;
    border-top: 5px solid #ff0000;
    height: 100%;
}
.menu1{
    display: flex;
    background-color:white;
    width: 100%;
    height: 66px;
    vertical-align: center;
}

    .menu1 a{
        cursor: pointer;
        color: #4c555f;
        text-decoration: none;
    }    

    .menu1 a:hover{color:#0054a4;}        
    
    .imagem_logo{
        cursor: pointer;
        max-height: 60%;
        margin-top: 0.9%;
        margin-right: 16px;
        width: auto;
    } 

        .parte1{
            cursor: pointer;
            padding: 0;
        }
        
            .dropdown span{
                display: inline-flex;
                margin-bottom: 23px;
                margin-left: 8px;
                margin-right: 8px;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 8px;
            }

            .dropdown i{
                margin-left: 6px;
                margin-top: 2px;
            }
              
                .dropdown-content {
                    color: black;
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }
              
                .dropdown:hover .dropdown-content {
                    display: block;
                }

                .dropdown:hover{
                    color: #0054a4;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                }

                .dropdown-content p{
                    width: 160px;
                    padding-right: 16px;
                    padding-left: 16px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin-bottom: 0;
                    margin-top: 0;
                }
                
                .dropdown-content p:hover{
                    background-color: #0054a4;
                    color: white;
                }

        .parte2{
            display: flex;
            width: 100%;
            list-style-type:none;
            justify-content: flex-end;
        }
    
            .parte2 li{
                margin-top: 0px;
                margin-bottom: 0px;
                margin-left: 8px;
                margin-right: 8px;
                padding: 8px;
                font-size: 15px;
            }

            .dropspan{
                margin-top: 16px;
                margin-bottom: 23px;
                margin-left: 8px;
                margin-right: 8px;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 8px;
                cursor: pointer;
            }

            .dropdown2 span{
                display: inline-flex;
            }

            .dropdown2 i{
                margin-left: 6px;
                margin-top: 2px;
            }

                .dropdown2:hover{
                    color: #0054a4;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                }
        
                .dropdown2-content {
                    font-size: 14px;
                    color: black;
                    cursor: pointer;
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }

                .dropdown2-content p{
                    width: auto;
                    padding-right: 16px;
                    padding-left: 16px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin-bottom: 0;
                    margin-top: 0;
                }

                .dropdown2-content p:hover{
                    background-color: lightgrey
                }
              
                .dropdown2:hover .dropdown2-content {
                    display: block;
                }

            .opcao_entrar{
                cursor: pointer;
                display: flex;
                padding-left: 8px;
                padding-right: 8px;
                margin-left: 16px;
            }
                .opcao_entrar a{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin-left: 0px;
                    text-decoration: none;
                }
                
                .opcao_entrar:hover{
                    color:#0054a4;
                }

/*************************************
Barra de pesquisa com imagem de fundo
**************************************/
.imagem_fundo{
    background-image: url("img/Fundo.jpg");
    width: 100%;
    position: relative;
    height: 410px;
    background-repeat: no-repeat;
}

    .imagem_fundo span{
        color: white;
        font-weight: bold;
        font-size: 30px;
        margin-left: 23%;
    }

    .comprar{
        margin-left: 23%;
        margin-right: 23%;
        position: relative;
    }

    .icon-procura {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        padding-left: 20px;
        border-left: solid 1px #eceff2;
        background-color: white;
    }
    
        .icon-procura i {
            font-size: 25px;
            color: #808080;
            cursor: pointer;
        }
        
            .icon-procura i:hover {
                transform: scale(0.8);
                transition: 0.3s ease;
            }
        
       .comprar_arrendar{
            display: flex;
            padding-right: 0%;
        }

            .compras{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 15px;
                padding-left: 15px;
                background-color: white;
                border-top-left-radius: 0.5em;
                cursor: pointer;
            }       

            .arrendar{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 15px;
                padding-left: 15px;
                background-color: #eceff2;
                border-top-right-radius: 0.5em;
                cursor: pointer;
            } 
   
        #pesquisa{
            display: flex;
        }

                #search{
                    background-color: white;
                    border: none;
                    height: 65px;
                    width: 100%;
                    outline: none;
                    font-size: medium;
                }

        .btnvermais{
            color: #fff;
            background: transparent;
            border: 0;
            cursor: pointer;
            margin-left: 40%;
            width: 20%;
            margin-top: 35px;
        }

            .btnvermais i{
                margin-bottom: 8px;
                font-size: 24px;
            }

            .btnvermais span{
                font-size: 15px;
                display: block;
                margin-left: 0px;
            }

/*************
Imagens Azuis
**************/
#procura_img{
    max-width: 76%;
    position: relative;
    margin: auto;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 3%;
    border-radius: 12px;
    cursor: pointer;
}

#comprar_vender_img{
    max-width: 1200px;
    border-radius: 12px;
    cursor: pointer;
    max-width: 76%;
    position: relative;
    margin: auto;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 3%;
}
    
/*******************
 Novidades - Casas
*******************/
.menu2{display: flex;
    align-items: flex-end;
    justify-content: flex-end;}
    
.menu2 h2{color:black;
    font-size: 20px;
    max-width: 76%;
    position: relative;
    margin: auto;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 3%;
    border-radius: 12px}

.newsver{font-size: 15px;
    max-width: 76%;
    position: relative;
    margin: auto;
    margin-left: 16px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 1%;
    border-radius: 12px;
    display: flex;}

    .novis{
        width: 100%;
        border-spacing:8px 8px
    }
    
    .novis1 {
        padding: 8px;
        width: 10%;
        height: 200px;
        background-image: url("img/t3visa.jpg");
        border-radius: 10px;
        padding:8px;
        background-repeat: no-repeat;  
        background-size: cover;
        cursor: pointer;
    }
           
    .novis h3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
    }

.menu3{display: flex;
    align-items: flex-end;
    justify-content: flex-end;}

.menu3 h2{color:black;
    font-size: 20px;
    max-width: 76%;
    position: relative;
    margin: auto;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 3%;
    border-radius: 12px}

.remaxc{font-size: 15px;
    max-width: 76%;
    position: relative;
    margin: auto;
    margin-left: 16px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 1%;
    border-radius: 12px;
    display: flex;
    margin-left:auto;}

    
.menu4{display: flex;
    align-items: flex-end;
    justify-content: flex-end;}

.menu4 h2{color:black;
    font-size: 20px;
    max-width: 76%;
    position: relative;
    margin: auto;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 3%;
    border-radius: 12px}

.emp{font-size: 15px;
    max-width: 76%;
    position: relative;
    margin: auto;
    margin-left: 16px;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 1%;
    border-radius: 12px;
    display: flex;
    margin-left:auto;}






/*************************
Concelhos mais procurados
*************************/
.mais_procurados{
    margin-left: 12%;
    margin-right: 12%;
    max-width: 76%;
    padding-top: 64px;
    margin-bottom: 32px;
}

    .procurados_title{
        color: black;
    }

    .tabela_procurados{
        width: 100%;
        border-spacing:8px 8px;
    }

        .lisboa{
            padding: 8px;
            width: 33.3333%;
            height: 100px;
            background-image: url("img/lisboa.jpg");
            border-radius: 10px;
            padding:8px;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
        }

            .lisboa h3{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: white;
            }

        .porto{
            padding: 8px;
            width: 33.3333%;
            height: 100px;
            background-image: url("img/porto.jpg");
            border-radius: 10px;
            padding:8px;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
        }
    
            .porto h3{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: white;
            }

        .coimbra{
            padding: 8px;
            width: 33.3333%;
            height: 100px;
            background-image: url("img/coimbra.jpg");
            border-radius: 10px;
            padding:8px;
            background-repeat: no-repeat;   
            background-size: cover;
            cursor: pointer;
        }
        
            .coimbra h3{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: white;
            }
    
        .braga{
            padding: 8px;
            width: 33.3333%;
            height: 100px;
            background-image: url("img/braga.jpg");
            border-radius: 10px;
            padding:8px;
            background-repeat: no-repeat;   
            background-size: cover;
            cursor: pointer;
        }
            
            .braga h3{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: white;
            }

        .faro{
            padding: 8px;
            width: 33.3333%;
            height: 100px;
            background-image: url("img/faro.jpg");
            border-radius: 10px;
            padding:8px;
            background-repeat: no-repeat;  
            background-size: cover;
            cursor: pointer;
        }
           
            .faro h3{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: white;
            }

        .leiria{
            padding: 8px;
            width: 33.3333%;
            height: 100px;
            background-image: url("img/leiria.jpg");
            border-radius: 10px;
            padding:8px;
            background-repeat: no-repeat;   
            background-size: cover; 
            cursor: pointer;
        }
           
            .leiria h3{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: white;
            }
        

/*******************
Agentes & Agências
*******************/
.agentes_agencias{
    margin-left: 12%;
    margin-right: 12%;
    max-width: 76%;
    padding-top: 64px;
    margin-bottom: 32px;
}

    .agen_subtitle{
        color: #4c555f;
        font-weight: bold;
    }

    .agen_cima{
        display: inline-flex;
        position: relative;
        margin-bottom: 32px;
    }

        .agen_cima h2{
            width: 50%;
            color: black;
        }

        .agen_cima p{
            width: 50%;
        }

    .agen_baixo{
        background-image: url("img/fundo2.jpg");
        height:320px;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
    }

        .button_agen{
            float: right;
            margin-top: 240px;
            margin-right: 10%;
            display: inline-flex;
        }

            .button_agente{
                padding-top: 13px;
                padding-bottom: 13px;
                padding-right: 21px;
                padding-left: 21px;
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 4px;
                background-color: rgb(35, 35, 199);
                cursor: pointer;
                border-color: rgb(35, 35, 199);
                color: white;
                font-weight: bold;
            }

                .button_agente:hover{
                    background-color: #003aa8;
                }

            .button_agencia{
                padding-top: 13px;
                padding-bottom: 13px;
                padding-right: 21px;
                padding-left: 21px;
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 4px;
                font-weight: bold;
                background-color: #fff;
                cursor: pointer;
                border-color: #fff;
                color: #4c555f;
            }

/**********************
Empreendimentos
**********************/
.empreendimentos{
    margin-left: 12%;
    margin-right: 12%;
    max-width: 76%;
    padding-top: 64px;
    display: inline-flex;
    position: relative;
}

    .img_empre{
        height: 400px;
        width: 495px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .empre_direita{
        margin-left: 9%;
        height: 400px;
        text-align: left;
        
        justify-content: center;
    }
        
        .titulo{
            margin-top: 20%;
            font-size: 36px;
            color: black;
        }

        .empre_direita a{
            font-size: 15px;
        }

        .empre_texto{
            margin-bottom: 16px;
        }
        
        .button_empre{
            color: white;
            border-radius: 4px;
            background-color: rgb(35, 35, 199);
            cursor: pointer;
            border-color: rgb(35, 35, 199);
            padding-top: 0.5rem;
            padding-right: 1rem;
            padding-bottom: 0.5rem;
            padding-left: 1rem;
            font-weight: bold;
        }

        .button_empre:hover{
            background-color: #003aa8;
        }

/**********************
Pesquisas mais comuns
**********************/
.Pesquisas_mais_comuns{
    color: black;
    padding-left: 12%;
    padding-right: 12%;
    max-width: 76%;
    padding-top: 64px;
    padding-bottom: 48px;
    font-size: 15px;
}

    .Pesquisas_mais_comuns h2{
        margin-bottom: 40px;
    }

    .dropdown3{
        position: relative;
        display: contents;
        margin-bottom: 13px;
    }
        
        .dropdown-content3{
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
        }

            .dropdown-content3 a {
                color: black;
                padding: 12px 16px;
                border: solid 1px #0054a4;
                border-radius: 12px;
                text-decoration: none;
                margin: 4px;
                display:inline-flex;
                margin-bottom: 13px;
            }
            
                .dropdown-content3 a:hover {
                    border-radius: 12px;
                    background-color: #0054a4;
                    color: white;
                }

        .dropbtn3{
            width: 100%;
            cursor: pointer;
            text-align: left;
            padding-left: 32px;
            padding-right: 32px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 12px;
            font-size: 20px;
            color: black;
            border-style: none;
            margin-bottom: 10px;
            height: 64px;
            align-items: center;
            background-color: #eceff2;
        }
            
            .dropbtn3 i{
                float: right;
                color: #0054a4;
                font-size: 30px;
            }

                .dropbtn3:hover {
                    color: #0054a4;
                }
            
/***************************
Calculo do Preço do Imóvel
***************************/
.calculo{
    color: black;
    padding-left: 12%;
    padding-right: 12%;
    max-width: 76%;
    padding-top: 64px;
    padding-bottom: 48px;
    font-size: 15px;
}

    #btncalculo{
        text-align: center;
        background-color: #003aa8;
        color: white;
    }

    .dropdown-content4{
        display: none;
        position: absolute;
    } 

    .idade input{
        margin-left: 50px;
    }

    .CalBtn{
        margin: 5px;
    }

    .submeter{
        background-color: #003aa8;
        color: white;
        border: 0;
        border-radius: 4px;
        padding: 5px;
        width: 170px;
        height: 40px;
    }

        .submeter:hover{
            background-color: #002770;
            cursor: pointer;
        }

    .reset{
        background-color: #e11b22;
        color: white;
        border: 0;
        border-radius: 4px;
        padding: 5px;
        width: 170px;
        height: 40px;
    }

        .reset:hover{
            background-color: #751215;
            cursor: pointer;
        }

    .resultado{
        display: none;
        position: absolute;
        margin-top: 10px;
    }

    .row{
        padding-top: 10px;
    }

        .resultado .column {
            float: left;
            width: 31.6%;
            padding: 0 10px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 16px;
            text-align: center;
            background-color: #f1f1f1;
        }

    .zona1-content{
        display: none;
    }

        .zona1-content a{
            float: left;
            font-size: 12px;
        }

        #column-zona div:hover + div{
            display: block;
            margin-left: 5px;
        }


/**************
Financiamento
**************/
.financiamento{
    color: black;
    padding-left: 12%;
    padding-right: 12%;
    max-width: 76%;
    padding-top: 64px;
    padding-bottom: 48px;
    font-size: 15px;
}

    #btnfinanciamento{
        text-align: center;
        background-color: #003aa8;
        color: white;
    }

    #column-fin{
        text-align: center;
        float: left;
        width: 31.6%;
    }

    .box-banco{
        width: 100%;
        height: 200px;
        border: 1px solid #002770 ;
        margin-bottom: 10px;
    }

    .box-banco-text{
        padding-top: 5px;
        padding-left: 200px;
        position: relative;
    }

        #credito{
            color: #003aa8;
        }

        #var{
            font-weight: bold;
        }

        .box-linha{
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
        }

        .spread{
            width: 20%;
        }

        .TAEG{
            width: 20%;
        }

        .prestacoes{
            width: 20%;
        }

        .prestacoes span{
            color: forestgreen;
        }

        .Verm{
            width: 20%;
            cursor: pointer;
        }

        .Verm a{
            color: #0054a4;
            text-decoration: none;
        }

        .box-direita{
            float: right;
            padding-right: 15px;
            display: none;
        }

    .ResultadoFin{
        display: none;
        position: absolute;
        margin-top: 10px;
        padding-bottom: 20px;
    }

    .show {
        display: contents;
    }

    .img_ca{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 5px;
        height: 100px;
        width: auto;
        float: left;
    }

    .img_mill{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 5px;
        height: 100px;
        width: auto;
        float: left;
    }

    .img_cgd{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 5px;
        height: 100px;
        width: auto;
        float: left;
    }

/********
 Footer
********/
#footer{margin-top: 48px;
    border-top: lightgray solid 1px;
    border-bottom: #0054a4 solid 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;  
    padding-top: 2%;
}

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

        .column {
            color: black;
            float: left;
            width: 25%;
            cursor: pointer;
        }
        
            .imagem_logo2{
                max-height: 40px;
                cursor:default;
                margin-bottom: 5%;
            }
            .redes_sociais{
                display: flex;
            }

                .redes_sociais i{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #54595e;
                    border-radius: 50%;
                    width: 34px;
                    height: 34px;
                    color: #4c555f;
                    margin-right: 0.8rem;
                    cursor: pointer;
                }

                .redes_sociais i:hover{
                    background-color: #003aa8;
                    color: white;
                }
            
        .footer_menu ul{
            list-style-type: none;
        }

    .fim a{
        display:block;
        font-size: 13px;
    }

        .fim_direita{
            float: right;
            cursor: pointer;
        }

        .fim_esquerda{float: left;}      
